<%= form_with(model: blog, local: true) do |form| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="card">
    <div class="card-encabezado-ms">
      <span class="card-title black-text">BLOG</span>
      <%= form.submit "Save Opinion", class: "waves-effect grey btn right" %>
    </div>
    <div class="card-content">
      <div class="row">
        <div class="col s12">
          <div class="input-field">
            <%= form.label :title %>
            <%= form.text_field :title %>
          </div>
          <div class="input-field materialize-textarea">
            <%= form.label :story %>
            <%= form.text_field :story %>
          </div>
          <div class="input-field">
            <%= form.label :author %>
            <%= form.text_field :author %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
