<!DOCTYPE html>
<html>
  <head>
    <title>MotoSuport</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="nav-wrapper">
        <nav class="teal darken-4">
          <%= link_to "MotoBlog", root_path, class: "yellow-text brand-logo" %>
          <ul class="right hide-on-med-and-down">
            <% if rider_signed_in? %>
              <li class="nav-item">
                <%= link_to 'Sign Out', destroy_rider_session_path, method: :delete, class: "yellow-text" %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to 'Sign In', new_rider_session_path, class: "yellow-text" %>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
